{{title}}
<!--Centriamo la mappa alle nostre coordinate-->
<google-map [center]="center">  
  <!--Mettiamo un marker alle nostre coordinate-->
  <map-marker *ngFor="let position of position"
  [position]="position" [label]="label" [title]="title"  [options] = "markerOptions">
  </map-marker>

  <map-circle *ngFor="let position of position"
  [center]="position"
  [radius]="50"
  [options] = 'circleOptions'>
</map-circle>


</google-map>
<button (click)="Giallo()">Giallo</button>
<button (click)="Rosso()">Rosso</button>
<button (click)="Blu()">Blu</button>

